// banner-part start
#banner-part{
    padding: 100px;
    background-color: #332D2D;
    position: relative;
    height: 700px;


    &::after{
        position: absolute;
        content: '';
        bottom: -285px;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/section-services/mountain\ fading.png);
        background-repeat: no-repeat;
        background-size: center;
        background-position: center;
    }
    h4{
        font-size: 20px;
        color: #fff;
        padding-top: 120px;
    }
    h2{
        font-size: 46px;
        color: #fff;
        padding-bottom: 20px;
        font-family: 'Explora';
    }
    p{
        font-size: 20px;
        color: #fff;
        padding-bottom: 60px;
    }
    a{
        font-size: 13px;
        background-color: red;
        padding: 16px 26px;
        color: #fff;
        border-radius: 15px;
        text-transform: uppercase;
    }
}
// banner-part ends


// navbar start
.navbar{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 15px;
    left: 0;
    line-height: 60px;

    .container{
        background-color: #fff;
    }
    img{
        height: 70px;
    }

   .navbar-nav .nav-link {
        color: #2c2c2c;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        padding: 0px 16px;
    }
}
// navbar ends

