// banner-part start
#banner-part{
    padding: 100px;
    background-color: #332D2D;
    position: relative;
    height: 700px;


    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 115px;
        width: 100%;
        background-image: url(../images/section-services/mountain\ fading.png);
        background-repeat: no-repeat;
        background-size: center;
        background-position: center;
    }
    h4{
        font-size: 20px;
        color: #fff;
        padding-top: 120px;
    }
    h2{
        font-size: 46px;
        color: #fff;
        font-weight: 700;
        padding-bottom: 20px;
    }
    p{
        font-size: 20px;
        color: #fff;
        padding-bottom: 60px;
        font-weight: 400;
    }
    a{
        font-size: 13px;
        background-color: red;
        padding: 12px 30px;
        color: #fff;
        border-radius: 15px;
        text-transform: uppercase;
        border: 1px solid red;
        transition: all .3s;

        &:hover{
            color: red;
            background-color: transparent;
        }
    }
}
// banner-part ends

// navbar start
.navbar{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 15px;
    left: 0;
    line-height: 60px;
    position: fixed;
    z-index: 999;

    .container{
        background-color: #fff;
    }
    img{
        height: 70px;
    }

   .navbar-nav .nav-link {
        color: #2c2c2c;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        padding: 0px 16px;
    }
}
// navbar ends


// service-part start
#service-part{
    padding: 100px 0px;

    .section-title{
        h2{
            font-size: 36px;
            color: #2c2c2c;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: -20px;
                left: 46%;
                height: 5px;
                width: 70px;
                background-color: red;
            }
        }
        
    }
    
    .service-texts{
        padding: 80px 0px; 
        position: relative;

        .service-texts-box{
            padding: 0px 0px 0px 40px;
            color: #2c2c2c;
            position: relative;

            h4{
                font-size: 20px;
                font-weight: 500;
            }
            p{
                font-size: 16px;
                font-weight: 400;
            }

            &::after{
                position: absolute;
                content: '';
                height: 20px;
                width: 20px;
                background-color: red;
                top: 15px;
                left: 0;
            }
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 46%;
            height: 5px;
            width: 70px;
            background-color: red;
        }
    }

    .service-boxes{
        padding: 50px 0;
        .service-box {
            margin-bottom: 20px;
        }

        .service-box-text{
            background-color: #332D2D;
            color: #fff;
            padding: 30px;
            height: 233px;
            width: 347px;
        }
        img{
            width: 100%;
        }
    }
}
// service-part ends

// contact-part start
#contact-part{
    padding: 100px 0;
    background-color: rgba(240, 254, 255, 0.829);
    .section-title{
        h2{
            font-size: 50px;
            color: #2c2c2c;
            font-weight: 600;
            text-align: center;
            padding: 60px 0;
        }
    }

    img{
        height: 550px;
    }

    .form-part{
        border-radius: 5px;
        border: 1px solid gray;
        padding: 30px;
        position: relative;

        input{
            color: #2c2c2c9e;
            border: none;
            padding: 7px 15px;
            font-weight: 600;
            width: 264px;
            margin-right: 10px;
        }
        textarea{
            color: #2c2c2c9e;
            border: none; 
            padding: 7px 15px;
            font-weight: 600;
            width: 550px;
            height: 100px;
            margin-right: 10px;
        }
        button{
            font-size: 16px;
            border: none;
            background-color: red;
            padding: 12px 30px;
            color: #fff;
            border-radius: 5px;
            font-weight: 500;
            position: absolute;
            bottom: -24px;
            left: 39%;
            border: 1px solid red;
            transition: all ease-in-out .3s;
            cursor: pointer;

            &:hover{
                color: red;
                background-color: #fff;
            }
        }
    }
}
// contact-part ends


// footer-part ends
#footer-part{
    padding: 100px 0px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 50px;
        left: 46%;
        height: 5px;
        width: 70px;
        background-color: red;
    }

    .contact-information{
        padding: 50px 0;

        p{
            font-weight: 16px;
            font-weight: 500;
        }
        a{
            color: red;
            font-weight: 500;
            font-size: 14px;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                height: 15px;
                width: 15px;
                background-color: red;
                top: 1px;
                left: -18px;
            }
        }
    }

    .lower-part{
        h6{
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
            font-weight: 400;
        }
        a:hover{
            color: red;
        }

        ul {
            li{
                display: inline-block;
                i{
                    color: #2c2c2c;
                    font-size: 26px;
                    margin: 5px 8px;
                    transition: all .3s;

                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }

}
// footer-part ends

