@media (min-width: 769)and (max-width: 992px) { 
    body{
        background-color: gray;
    }
    .navbar button{
        margin-right: 10px;
    }

    #banner-part {
        h4 {
            font-size: 18px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
            padding-bottom: 40px;
        }
        a {
            padding: 12px 22px;
        }
    }

    #service-part .section-title h2::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #service-part .service-texts .service-texts-box {
        padding: 40px 0px 50px;
        text-align: center;
    }
    #service-part .service-texts .service-texts-box::after {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background-color: red;
        top: 0px;
        left: 49%;
    }
    #service-part .service-texts::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #contact-part img {
        height: 400px;
        padding: 0px 70px;
    }
    #contact-part .form-part input {
        width: 330px;
        margin-bottom: 20px;
    }
    #contact-part .form-part textarea {
        width: 330px;
    }
    #contact-part .form-part button {
        left: 30%;
    }
    #footer-part::after {
        left: 40%;
    }
}@media (min-width: 601px)and (max-width: 768px) { 
    .navbar button{
        margin-right: 10px;
    }

    #banner-part {
        h4 {
            font-size: 18px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
            padding-bottom: 40px;
        }
        a {
            padding: 12px 22px;
        }
    }

    #service-part .section-title h2::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #service-part .service-texts .service-texts-box {
        padding: 40px 0px 50px;
        text-align: center;
    }
    #service-part .service-texts .service-texts-box::after {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background-color: red;
        top: 0px;
        left: 49%;
    }
    #service-part .service-texts::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #contact-part img {
        height: 400px;
    }
    #contact-part .form-part input {
        width: 330px;
        margin-bottom: 20px;
    }
    #contact-part .form-part textarea {
        width: 330px;
    }
    #contact-part .form-part button {
        left: 30%;
    }
    #footer-part::after {
        left: 44%;
    }

    #service-part .service-boxes .service-box {
        img{
            width: 100%;
        }
    }
    #service-part .service-boxes .service-box-text {
        background-color: #332D2D;
        color: #fff;
        padding: 30px;
        height: 219px;
        width: 329px;
    }
    #service-part .service-texts::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #service-part .section-title h2::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 44%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #contact-part .section-title h2 {
        font-size: 50px;
        color: #2c2c2c;
        font-weight: 600;
        text-align: center;
        padding: 0px 0 40px;
    }
}
@media (min-width: 218px)and (max-width: 600px) { 
    .navbar{ 
        // width: 90%;
        button{
        margin-right: 10px;
        }
    }

    #banner-part {
        h4 {
            font-size: 18px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
            padding-bottom: 40px;
        }
        a {
            padding: 12px 22px;
            font-size: 10px;
        }
    }

    #service-part .section-title h2::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #service-part .service-texts .service-texts-box {
        padding: 40px 0px 50px;
        text-align: center;
    }
    #service-part .service-texts .service-texts-box::after {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background-color: red;
        top: 0px;
        left: 49%;
    }
    #service-part .service-texts::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 39%;
        height: 5px;
        width: 70px;
        background-color: red;
    }
    #contact-part img {
        height: 400px;
        padding: 0px 70px;
    }
    #contact-part .form-part input {
        width: 100%;
        margin-bottom: 20px;
    }
    #contact-part .form-part textarea {
        width: 100%;
    }
    #contact-part .form-part button {
        left: 30%;
    }
    #footer-part::after {
        left: 40%;
    }

    #service-part .service-boxes .service-box-text {
        width: 100%;
    }
}